import urllib2
from bs4 import BeautifulSoup


def my_crawler(max_pages):
    page=1
    while page<=max_pages:
          url = 'https://thenewboston.com/tops.php?type=image&period=all&page=' + str(page)
          req = urllib2.Request(url)
          my_code = req.txt
          
          soup = BeautifulSoup(my_code)
    for link in soup.findAll('img',{'class':'index_ImageIcons'}):
        href = link.get('src')
        print('src')
        page += 1
        
my_crawler(3)
